<!DOCTYPE html>
<html>
  <head>
    <title>Ilica Mahajan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet">
		<link href="css/colorbox.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/venobox.css" type="text/css" media="screen" />

		<link rel="icon" 
		      type="image/png" 
		      href="images/gear2.png">
	
		
  </head>
  <body>
	
	<div class="container left-fixed">
		
		<h1 id="name-header">
		ILICA MAHAJAN
		</h1>
		
		<hr>
		
		<div id="side-nav">
		
			
			<ul>
				<li>		
					<a href="#aboutme" id="aboutme-nav">	
						About Me!
					</a>
				</li>
			
				<li>
					<a href="#ring" id="ring-nav">
						Ring
					</a>
				</li>					
				<li>
					<a href="#workexperience" id="workexp-nav">
						Work
					</a>
				</li>
						
				<li>		
					<a href="#photography" id="photography-nav">
						Photography
					</a>
				</li>
				
				<li>
					<a href="#sketches" id="sketches-nav">	
						Sketches
					</a>
				</li>
				
				<li>
					<a href="#contactme" id="contactme-nav">
						Contact Me!
					</a>
				</li>
			</ul>	
			<img src="/images/gear.png" id="gear">
		</div>
		
		
		
	</div>

	
   <div class=" stay-right">
	
				<a id="aboutme">
				
				</a>
				<p id="intro">
					Ilica is my first name. Mahajan is my last.
					Laughing is hands-down my favorite activity.
					I like people, exchanging ideas, & <s>arguing</s> debating too.
					I'm at MIT. But I enter the real world in June 2014.
					Physics is my major. Political Science is too.
					Now I want to help design the future & decide how it will look/feel/function.
					Hardware products entice me the most.
					I am an Ilica-of-all-trades and I like to have my hands in everything.
					Oh, & I love post-its, whiteboards, & pondering.
				</p>
				
				<hr>
	
				
				<a id="ring">
				<h2>
					Ring
				</h2>
				</a>
					<p>
						This is where the description of ring goes
						</p>
				<hr>
						
				<a id="workexperience">	
					<h2>
						Work Experience
					</h2>
					</a>
					
					
						<h3>
							Draper Lab
						</h3>
						
            <div class="row">
              <div class="col-md-6">
                <p>
                  I worked at Draper Laboratory in Cambridge from October of 2012 to December of 2013. I did a hodgepodge of activities while I was there, learned a ton, and became interested in hardware work.
                  Broadly speaking, I was working with my group on a Bose-Einstein condensate gyroscope for cold-atom inertial sensing.
                  No, that was not meaningless <a href="http://en.wikipedia.org/wiki/Technobabble">technobabble</a>.
                  More specifically, I worked on:
                </p>
                <h4>PCBs!</h4>
                <p>
                  I designed some of the circuit board schematics and laid out the PCBs for the boards that housed sensors.
                  This told us about conditions around the gyroscope so we could then create a feedback loop to control the components.
                  I also had to choose and order components, solder everything together, and test the completed boards.
                </p>
              </div>
              <div class="col-md-6">
                <h4>Lasers and Optics!</h4>
                <p>
                  We worked with some awesomely powerful lasers and I had to learn what it took to set up and maintain the laser diodes.
                  I didn't even fry any diodes during my time!
                  I learned how to choose and set up appropriate optics to collimate and redirect beams and control ratios of powers in various branches.
                  It was like one of those laser beam games!
                  The work also taught me patience since coupling light into optical fibers with opto-mechanical systems is a very delicate technique.
                </p>

                <h4>Mechanical Parts!</h4>
                <p>
                  I spent a lot of time on SolidWorks designing various mechanical parts to house the electroics that the team was designing.
                  I enjoy being a part of multiple aspects of a project, so being able to work on both mechanical and electrical engineering problems kept me interested.
                </p>
                </p>
              </div>
            </div>
						
						<h3>
							International Iberian Nanotechnology Laboratory
						</h3>
						
            <div class="row">
              <div class="col-md-6">
                <p>
                  Over the summer between my sophomore and junior year at MIT, I got the awesome opportunity to work at a Nanotech Lab in Braga, Portugal.
                  Nano-magnetic <a href="http://en.wikipedia.org/wiki/Tunnel_junction">tunnel junctions</a> (MTJs for short) were the focus of my work.
                </p>
                <p>
                The MTJs were being developed for applications in the medical industry and for computer MRAM.
                I work a <a href="http://en.wikipedia.org/wiki/Cleanroom_suit">bunny suite</a> most days, as I spent most of my time in a clean room to fabricate, research, and characterize the MTJs.
                </p>
              </div>
              <div class="col-md-6">
                <p>
                I was pleased (and terrified) to be allowed to run million-dollar equipment by myself towards the end of the internship. The equipment included a nano deposition machine, ion miller, magnetic annealer, scanning electron microscope, lithography machine, and a vibrating sample magnometer.
                </p>
                <p>
                On the weekends, my fellow interns and I explored the small town of Braga, and the neighboring town, cities, and vineyards! Bus schedules, Lonely Planet, and port wine were our hobbies in the evenings. What a summer!
                </p>
              </div>
            </div>
						
						<h3>
							Curious Minds & Ultra Electronics
						</h3>
						
            <div class="row">
              <div class="col-md-6">
                <p>
                  I have also interned at Ultra Electronics and Curious Minds. I took on more non-technical and more business-y roles these companies.
                  At Ultra Electronics, I advised the company on the feasibility of market entry, conducted research on company performance capabilities, technical requirements, and fabrication process of a certain kind of technology (sorry, I can't talk about it much.)
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  At Curious Minds, I participated in researching and learning about how to develop, launch, and manage web products.
                </p>
              </div>
            </div>
							<hr>
						
						<a id="photography">
						<h2>
							Photography
						</h2>
					</a>
          <p>
            My passion for photography started at a young age due to the fact that my dad loves cameras. I started learning from him, and then took 3 years of photography classes in high school, where I got to learn more about shooting in a studio and using photoshop. Here are some of photos! More to come.
          </p>
						<hr>
            <div class="row">
              <% @images.each do |img| %>
                <div class="col-md-3">
                  <a class="venobox" data-gall="photo-gal" href="<%= big(img) %>"><img src="<%= small(img) %>" alt="image alt"/></a>
                </div>
              <% end %>
            </div>
						
						<a id="aboutme">
						<h2>
							Sketches
						</h2>
						</a>
						
							
							<p>
							Vestibulum magna eros, fringilla in vestibulum vitae, pellentesque quis nibh. Aliquam ac feugiat velit. Curabitur gravida tellus non tellus rhoncus, ac tempus massa commodo. Nunc a nibh posuere, bibendum ipsum in, condimentum eros. Nulla sit amet rhoncus est. Nunc tellus odio, sollicitudin sed mattis vel, commodo vitae urna. Integer a lorem ullamcorper, vestibulum lacus eget, dictum diam. Quisque consectetur sed turpis vulputate dignissim.
							</p>
					
			</div>
		
				<script src="js/jquery.min.js"> </script>
				<script src="js/jquery.colorbox-min.js"> </script>
        <script type="text/javascript" src="js/venobox.min.js"></script>
				<script src="js/app.js"></script>
  </body>
</html>
