<!DOCTYPE html>
<html>
  <head>
    <title>Ilica Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Permanent+Marker|Life+Savers|Finger+Paint|Walter+Turncoat|Gloria+Hallelujah|Margarine|Rock+Salt|Covered+By+Your+Grace|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		
  </head>
  <body>
	
	<div class="container left-fixed">
		<h1 id="name-header">
		Ilica Mahajan
		</h1>
		
		<nav>
		<div class="row">
			<div class= "col-md-6">	
				<a href="#aboutme">
				<div class="postit">
		
					About Me!
			
				</div>
				</a>
				
			</div>
			
			<div class="col-md-6">
				<a href="#workexperience">
				<div class="postit">
					
					Work <br> Experience
					
				</div>
				</a>
			</div>
		</div>
		
		<div class="row">
			<div class= "col-md-6">	
				<a href="#ring">
				<div class="postit">
		
					Ring
			
				</div>
				</a>
			</div>
			
			<div class="col-md-6">
				<a href="#photography">
				<div class="postit">
					
					Photography
					
				</div>
				</a>
			</div>
		</div>
		
		<div class="row">
			<div class= "col-md-6">
				<a href="#sketches">	
				<div class="postit">
		
					Sketches
			
				</div>
				</a>
				
			</div>
			
			<div class="col-md-6">
				<a href="#contactme">
				<div class="postit">
					
					Contact Me!
					
				</div>
				</a>
			</div>
		</div>
		
		
						
			
	</nav>	
	</div>

	
   <div class="container stay-right">
					
	
				<h1 class="big">
				
					Ilica's World
				</h1>
				
				<a id="aboutme">
				<h2>
					About Me
				</h2>
				</a>
				
				<p>
					Ilica is my first name. Mahajan is my last.
				</p>

				<p>
					Laughing is hands-down my favorite activity.
				</p>

				<p>
					I like people, exchanging ideas, & <s>arguing</s> debating too.
				</p>

				<p>
					I'm at MIT. But I enter the real world in June 2014.
				</p>

				<p>	
					Physics is my major. Political Science is too.
				</p>

				<p>
					Now I want to help design the future & decide how it will look/feel/function.
				</p>

				<p>
					Hardware products entice me the most.
				</p>

				<p>
					I am an Ilica-of-all-trades.
				</p>

				<p>
					Oh, & I love post-its, whiteboards, & pondering.
				</p>
				
	
				
				<a id="ring">
				<h2>
					Ring
				</h2>
				</a>
					<p>
						This is where the description of ring goes
						</p>
						
				<a id="workexperience">	
					<h2>
						Work Experience
					</h2>
					</a>
					
					
						<h3>
							-Draper
						</h3>
						
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum leo ut convallis semper. Suspendisse lacinia odio tortor, sit amet molestie nibh volutpat quis. Curabitur egestas metus tellus, in commodo felis lacinia eu. Integer gravida ligula eu blandit rutrum. Fusce ac nunc augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris a sodales odio. Quisque at sapien in lacus aliquam tincidunt. Duis luctus ipsum eu metus accumsan, non pretium nulla rhoncus. Nunc vehicula, mauris sollicitudin luctus volutpat, eros arcu tristique leo, quis gravida lectus dui ac erat.
						</p>
						
						<p>
						Vestibulum magna eros, fringilla in vestibulum vitae, pellentesque quis nibh. Aliquam ac feugiat velit. Curabitur gravida tellus non tellus rhoncus, ac tempus massa commodo. Nunc a nibh posuere, bibendum ipsum in, condimentum eros. Nulla sit amet rhoncus est. Nunc tellus odio, sollicitudin sed mattis vel, commodo vitae urna. Integer a lorem ullamcorper, vestibulum lacus eget, dictum diam. Quisque consectetur sed turpis vulputate dignissim.
						</p>
						
						<h3>
							-International Iberian Nanotechnology Laboratory
						</h3>
						
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum leo ut convallis semper. Suspendisse lacinia odio tortor, sit amet molestie nibh volutpat quis. Curabitur egestas metus tellus, in commodo felis lacinia eu. Integer gravida ligula eu blandit rutrum. Fusce ac nunc augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris a sodales odio. Quisque at sapien in lacus aliquam tincidunt. Duis luctus ipsum eu metus accumsan, non pretium nulla rhoncus. Nunc vehicula, mauris sollicitudin luctus volutpat, eros arcu tristique leo, quis gravida lectus dui ac erat.
							</p>

							<p>
							Vestibulum magna eros, fringilla in vestibulum vitae, pellentesque quis nibh. Aliquam ac feugiat velit. Curabitur gravida tellus non tellus rhoncus, ac tempus massa commodo. Nunc a nibh posuere, bibendum ipsum in, condimentum eros. Nulla sit amet rhoncus est. Nunc tellus odio, sollicitudin sed mattis vel, commodo vitae urna. Integer a lorem ullamcorper, vestibulum lacus eget, dictum diam. Quisque consectetur sed turpis vulputate dignissim.
							</p>
						
						<h3>
							-Curious Minds
						</h3>
						
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum leo ut convallis semper. Suspendisse lacinia odio tortor, sit amet molestie nibh volutpat quis. Curabitur egestas metus tellus, in commodo felis lacinia eu. Integer gravida ligula eu blandit rutrum. Fusce ac nunc augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris a sodales odio. Quisque at sapien in lacus aliquam tincidunt. Duis luctus ipsum eu metus accumsan, non pretium nulla rhoncus. Nunc vehicula, mauris sollicitudin luctus volutpat, eros arcu tristique leo, quis gravida lectus dui ac erat.
							</p>

							<p>
							Vestibulum magna eros, fringilla in vestibulum vitae, pellentesque quis nibh. Aliquam ac feugiat velit. Curabitur gravida tellus non tellus rhoncus, ac tempus massa commodo. Nunc a nibh posuere, bibendum ipsum in, condimentum eros. Nulla sit amet rhoncus est. Nunc tellus odio, sollicitudin sed mattis vel, commodo vitae urna. Integer a lorem ullamcorper, vestibulum lacus eget, dictum diam. Quisque consectetur sed turpis vulputate dignissim.
							</p>
						
						<h3>
							-Ultra Electronics
						</h3>
						
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum leo ut convallis semper. Suspendisse lacinia odio tortor, sit amet molestie nibh volutpat quis. Curabitur egestas metus tellus, in commodo felis lacinia eu. Integer gravida ligula eu blandit rutrum. Fusce ac nunc augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris a sodales odio. Quisque at sapien in lacus aliquam tincidunt. Duis luctus ipsum eu metus accumsan, non pretium nulla rhoncus. Nunc vehicula, mauris sollicitudin luctus volutpat, eros arcu tristique leo, quis gravida lectus dui ac erat.
							</p>

							<p>
							Vestibulum magna eros, fringilla in vestibulum vitae, pellentesque quis nibh. Aliquam ac feugiat velit. Curabitur gravida tellus non tellus rhoncus, ac tempus massa commodo. Nunc a nibh posuere, bibendum ipsum in, condimentum eros. Nulla sit amet rhoncus est. Nunc tellus odio, sollicitudin sed mattis vel, commodo vitae urna. Integer a lorem ullamcorper, vestibulum lacus eget, dictum diam. Quisque consectetur sed turpis vulputate dignissim.
							</p>
						
						<a id="photography">
						<h2>
							Photography
						</h2>
					</a>
						
						<a id="aboutme">
						<h2>
							Sketches
						</h2>
						</a>
						
							
						
					
					
			</div>
		
	
  </body>
</html>