.left-fixed {
	position: fixed;
	width: 400px;
	height: 100%;
	border-right: 2px #999 solid;
	padding-top: 40px;
}

body {
	background: #1695A3;
	margin: -22px 0px;
}

#gear
{
	margin-left: -140px;
	margin-top: -300px;
	pointer-events: none;
}

a:hover {
	text-decoration: none;
	color: inherit;	
}

a {
	color: inherit;
}

.stay-right {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	margin: 0 0 0 400px;
	background: #ddd;
}

#name-header {
	text-align: center;
	padding-bottom: 20px;
	letter-spacing:5px
}

#aboutme-nav
{
	margin-right:60px;
}

#ring-nav{
	margin-right:75px;
}

#workexp-nav
{
	margin-right:30px;
}

#photography-nav
{
	margin-right:10px;
}

#sketches-nav
{
	margin-right:60px;
}

#contactme-nav
{
	margin-right:60px;
}

.stay-right > p {
	margin: 0;
}

ul
{
    list-style-type: none;
		font-weight: 300;
		margin-right: 0;
		margin-top:150px;
		text-align: right;
		font-size: 20px;
}

li
{
	margin-top: 20px;
}

h2
{
	padding-top:0px;
}

h1, h2, h3, h4, #side-nav
{
	font-family: 'Lato', cursive;
	font-weight: 100;
	color: #ddd;
}

h2, h3
{
	color: #1695A3;
	font-weight: 300;
}



p
{
	font-family: 'Open Sans', cursive;
	font-weight: 300;
	color: black;
}

