.left-fixed {
	position: fixed;
	width: 400px;
	height: 100%;
	border-right: 1px #aaa solid;
	padding-top: 40px;
	bottom: 0px;
	-webkit-backface-visibility: hidden;
}

body {
	background: #52a3a2;
	margin: -22px 0px;
}

#gear
{
	margin-left: -140px;
	margin-top: -300px;
	pointer-events: none;
}

a:hover {
	text-decoration: none;
	color: inherit;	
}

a {
	color: inherit;
}

p > a {
	text-decoration: underline;
}

#intro {
  height: 100%;
  font-size: 35px;
  text-indent: 50px;
}

.stay-right img {
  padding: 5px;
  background: white;
  border: 1px #ddd solid;
  margin-bottom: 10px;
}

.stay-right {
	padding: 70px;
	margin: 0 0 0 400px;
	background: #ecede8;
}

#name-header {
	text-align: center;
	padding-bottom: 20px;
	letter-spacing:5px
}


#aboutme-nav
{
	margin-right:60px;
}

#ring-nav{
	margin-right:85px;
}

#workexp-nav
{
	margin-right:65px;
}

#photography-nav
{
	margin-right:5px;
}

#sketches-nav
{
	margin-right:50px;
}

#contactme-nav
{
	margin-right:40px;
}

.stay-right > p {
	margin: 0;
	font-size: 20px;
}

ul
{
    list-style-type: none;
		font-weight: 300;
		margin-right: 0;
		margin-top:150px;
		text-align: right;
		font-size: 20px;
}

li
{
	margin-top: 20px;
}

h2
{
	padding-bottom: 30px;
	font-size: 35px;
}

h1, h2, h3, h4, #side-nav
{
	font-family: 'Lato', cursive;
	font-weight: 100;
	color: #fff;
}

h2, h3, h4
{
	color: #52a3a2;
	font-weight: 300;
	
}



p
{
	font-family: 'Open Sans', cursive;
	font-weight: 300;
	color: #333;
}

